/* === RESET & DASAR === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* === MAIN === */
main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

main > section {
  max-width: 1100px;
  margin: 0 auto 3rem;
  padding: 0 1rem;
}

/* Youtube */
/* ================================
   VIDEO SECTION
================================ */
.video-section {
  padding: 60px 20px;
  background: #f8f9fa;
}

.video-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.video-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #2e7d32;
}

/* Wrapper agar video responsif */
.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

/* Iframe video */
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Responsive mobile */
@media (max-width: 768px) {
  .video-title {
    font-size: 22px;
  }
}
